.sidebar {
  position: fixed;
  color: #fff;
  top: 0;
  left: -270px; /* Hidden by default */
  width: 250px;
  height: 100vh;
  background-color: rgb(19, 19, 24);
  transition: left 0.3s ease;
  z-index: 9999;
  font-size: 24px;
  padding: 10px;
}

.sidebar.open {
  left: 0; /* Show sidebar when 'open' class is added */
}


.sidebar ul {
  list-style-type: none;
  padding: 20px;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sitename {
  font-size: 2rem; /* Larger header-like text */
  font-weight: bold; /* Bold text */
  display: inline-block; /* Ensures the text stays inline with the icon */
  color: inherit; /* Inherit link color */
  font-style: oblique;
}

.sitename:hover {
  color: rgb(164, 190, 13);
}

link, a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: rgb(164, 190, 13);
}
/* Remove blue color from the nav-link */
.customnavlink {
  color: inherit; /* This will inherit the color from the parent element */
  font-size: 18px; /* Increase the font size */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Add smooth transition for hover */
}

.customnavlink:hover {
  color: #a4be0d; /* Change the hover color (use your preferred color) */
}

/*///////////////////////////////////////////////////////SMALLER SCREENS/////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 768px) {
  /* For tablets and smaller screens */
  .sitename {
    font-size: 1.8rem; /* Slightly smaller on medium screens */
  }

  .sitename-container {
    flex-direction: row; /* Ensure the icon and text stay side by side */
  }
}

@media (max-width: 576px) {
  /* For mobile screens */
  .sitename {
    font-size: 1.5rem; /* Make it even smaller for mobile */
  }

  .sitename-container {
    flex-direction: row; /* Icon and text stay side by side */
    justify-content: center; /* Center align on small screens */
  }
}
