.livescores-section {
    padding: 10px;
    text-align: center;
}

.livescores-section h1 {
    display: flex;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.red-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
}

.livescores-section hr {
    border: 0;
    height: 2px;
    background-color: #8bc34a; 
    width: 100%;
    margin: 10px 0;
}

.livescores-section p {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}